*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;

}

button{
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;


}
.logo-container, .nav-links{
    display: flex;
}

.logo{
    font-weight: 400;
    margin: 5px;
}
.logo-container{
    flex: .5;
}

.nav-links{
    justify-content: space-around;
    list-style: none;

}

.nav-link{
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
}

nav{
    flex: 2;
}

.presentation{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduction{
    flex: 1 ;
}

.intro-text h1{
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494989, #6f6f69);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p{
    margin-top: 5px;
    font-size: 22px;
    color: #585772;
}

.cta{
    padding: 50px 0px 0px 0px;
    display: inline-block;
}

.cta-steam{
    border: 2px solid #7a7979;
    background: transparent;
    color: #7a7979;
    width: 150px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px 0px 0px 0px;
}

.cta-blizzard{
    border: none;
    background: #313131;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px 0px 0px 0px;
}

.cta-origin{
    border: 2px solid #7a7979;
    background: transparent;
    color: #7a7979;
    width: 150px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px 0px 0px 0px;
}

.cta-epic{
    border: none;
    background: #313131;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px 0px 0px 0px;
}

.cover{
    flex: 1;
}

.cover img{
    height: 365px;
    animation: drop 1.5s ease;
}

.big-circle{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.6;
    height: 80%;
}

.mid-circle{
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    height: 60%;
    opacity: 0.6;
}

.small-circle{
    position: absolute;
    bottom: 0%;
    left: 20%;
    z-index: -1;
    opacity: 0.6;
}

@keyframes drop{
    0%{
        opacity: 0;
        transform: translateY(-80px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1024px){
    .presentation{
        flex-direction: column;
    }
    .introduction{
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1{
        font-size: 30px;
    }
    .intro-text p{
        font-size: 18px;
    }
    .cta{
        padding: 10px 0px 0px 0px;
    }
    .small-circle,
    .mid-circle,
    .big-circle{
        opacity: 0.2;
    }
}